# Core
pandas
numpy
scikit-learn
scipy

# Sequential clustering
tslearn  # for DTW and DBA-kMeans
prefixspan # for PrefixSpan
hmmlearn  # for HMM clustering

# Deep learning
tensorflow  # for LSTM autoencoder

# Sequential classification
sklearn-crfsuite  # for CRF classifier

# Spatial clustering
minisom  # for SOM

seaborn
matplotlib
